.chapter(data-title='Chapter Two')
  .step(data-title='This is a new tutorial!', 
    data-file='models/Raffle.js',
    data-highlight='1,8-16')
    :markdown
      ## hery there lori

      this is some *markdown*