<meta charset="utf-8">
<meta name="description" content="The Raffler: SMS Raffles, Powered By Twilio">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Raffler</title>
<link rel="stylesheet" href="/styles/<%= staticfile+'.css' %>">
<link rel="author" href="Kevin Whinnery (@kevinwhinnery)">
<link rel="icon" type="image/png" href="/favicon.png">